html,
body {
  height: 125%;
  font-family: 'Roboto', sans-serif;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  height: 115%;
  /* Test
  border: 1px solid black;
  */
}

#items-container {
    height: 80%;
    /* Test 
    border: 1px solid black;
    */
}

#exercise-form {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Test
    border: 1px solid black;
    */
}

label {
    margin-left: 20%;
    margin-top: 1rem;
}

input {
    margin-left: 20%;
    width: 55%;
    height: 1.5rem;
}

button {
    margin: 1rem auto;
    width: 10rem;
    font-weight: 900;
    font-size: 1.3rem;
}

#log {
    width: 50%;
    height: 30%;
    text-align: left;
    padding-top: 1rem;
    padding-left: 1rem;
    margin: 1rem auto 1rem auto;
    overflow-y: scroll;
    background-color: burlywood;
    border: 3px double black;
}
